bisos==0.3
bisos.b==0.43
bisos.common==0.84
bisos.currents==0.62
bisos.examples==0.7
bisos.platform==0.13
bisos.siteRegistrars==0.54
bisos.transit==0.2
blee==0.3
bisos.csPlayer==0.5
enum34==1.1.10
unisos.icm==0.26
unisos.ucf==0.15
